@import './globals.css';
@import './window.css';

body {
  font-family: "AtticAntique";
  font-size: 14px;
  margin: 0;
  overflow: hidden;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  line-height: 1.4;
  background-image: url(..\assets\paintedui\Widnow_Frame_Large.PNG);
}
